body {
    font-family: Arial, sans-serif;
}


.navbar {
    float: right;
}

.navbar li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo {
    padding: 120px 0 0 0;
    font-size: 5.5em;
    font-family: 'Product Sans', Arial, sans-serif;
    margin: auto;
    text-align: center;
}

.search_container {
    margin: auto;
    text-align: center;
}

#g_search {
    padding: 8px 20px;
    margin: 20px;
    width: 400px;
    height: 2em;
    border: solid 1px #ddd;
}

#g_search:hover {
    border: solid 1px lightslategrey;
}

#g_search:focus {
    border: solid 1px #4885ed;
}

.button {
    background-color: #eee;
    font-weight: bold;
    border: none;
    color: #757575;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8em;
    width: 148px;
    height: 2.9em;
    margin: 0 6px;
}

.button:hover {
    background-color: #f0f0f0;
    color: #000;
    border: 1px solid lightslategray;
    border-radius: 3px;
}

span {
    margin: -10px;
}

.logo_green {
    color: #3cba54;
}

.logo_yellow {
    color: #f4c20d;
}

.logo_red {
    color: #db3236;
}

.logo_blue {
    color: #4885ed;
}

a {
    color: #222;
    font-size: 0.9em;
    margin: 5px;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}